<div class="sidebar-box">
    <form action="@Url.Action("Search", "Blog")" method="GET" class="search-form">
        <div class="form-group">
            <button type="submit" class="search-button"><span class="icon icon-search"></span></button>
            <input type="text" name="query" class="form-control" placeholder="Type a keyword and hit enter">
        </div>
    </form>
</div>