<div class="col-lg-4 sidebar ftco-animate">
    @await Html.PartialAsync("_SidebarSearch")
    @await Html.PartialAsync("_SidebarCategories")
    @await Html.PartialAsync("_SidebarRecentPosts")
    @await Html.PartialAsync("_SidebarTagCloud")
    @await Html.PartialAsync("_SidebarAboutMe")
</div>