@inject IListingsDataAccess DataAccess

@{
    ViewData["title"] = $"This listing doesn't exist";
    var listings = await DataAccess.GetFeaturedListingsAsync(9, true);
}
<section class="ftco-section ftco-services-2">
    <div class="container">
        <div class="row mb-md-5 mt-md-5">
            <div class="col-md-12 text-center">
                <h1>Listing doesn't exist</h1>
                <h3>The listing you are looking for is expired or doesn't exist</h3>
            </div>
        </div>
        <div class="row mb-md-5">
            <div class="col-md-12">
                <h5>
                    Please have a look at our <a href="@Url.Action("Search", "Property")">listings</a> or contact me
                    using the form below to get help with your search!
                </h5>
            </div>
        </div>
        <div class="row listings-row mb-md-5">
            <div class="col-md-12">
                @await Html.PartialAsync("_FeaturedListingsSlider", (listings, false))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_RequestInformationForm", new RequestInformationModel())
            </div>
        </div>
    </div>
</section> <!-- .section -->