@model Dictionary<string, JToken>
@{
    var title = Model?.GetValueOrDefault("title")?.ToObject<string>();
}

<section class="ftco-section one-column-component ftco-animate">
    <div class="container">
        @if (!title.IsNullOrEmpty())
        {
            <div class="row justify-content-center mb-3 pb-3 title-row">
                <div class="col-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">@(title)</h2>
                </div>
            </div>
        }
        <div class="row d-flex column-row">
            <div class="col-md-12 column">
                @await Html.PartialAsync("_HtmlEditorDisplay", Model?.GetValueOrDefault("text")?.ToObject<string>() ?? "") 
                    @{
                        var links = Model?.GetValueOrDefault("links")?.ToObject<MenuItemSingle[]>() ?? new MenuItemSingle[0];
                        if (!links.IsNullOrEmpty())
                        {
                            <p>
                                @foreach (var link in links)
                                {
                                    <a href="@link.Link" class="btn btn-primary py-3 px-4">@link.Title</a>
                                }
                            </p>
                        }
                    }
            </div>
        </div>
    </div>
</section>