<div class="share-dialog">
    <header>
        <h3 class="dialog-title">Share this</h3>
        <button class="close-button"><i class="icon-close"></i></button>
    </header>
    <div class="targets">
        <a class="button" onclick="share.share('facebook')">
            <i class="icon-facebook"></i>&nbsp;<span>Facebook</span>
        </a>

        <a class="button" onclick="share.share('twitter')">
            <i class="icon-twitter"></i>&nbsp;<span>Twitter</span>
        </a>

        <a class="button" onclick="share.share('pinterest')">
            <i class="icon-pinterest"></i>&nbsp;<span>Pinterest</span>
        </a>

        <a class="button" onclick="share.share('mailto')">
            <i class="icon-envelope"></i>&nbsp;<span>Email</span>
        </a>
    </div>
    <div class="link">
        <div class="url"></div>
        <button class="copy-link">
            <span class="tooltiptext" id="copyTooltip">Copy to clipboard</span>Copy Link
        </button>
    </div>
    <input type="hidden" class="share-title"/>
</div>
<div class="share-dialog-overlay"></div>