$primary: #ecbbb5;
$secondary: #ffc6c8;
$primary-text: #606369;
$primary-alternative: #e2a1a1;
$home-page-background: 'https://homeswitholesia.ca/uploads/bdbe03e8-a127-4440-ad87-065c00bed53e.jpg';
$home-page-background-backdrop-opacity: 10;
$home-page-navbar-color: #ecbbb5;
//Wrote on 08/11/2021 14:31:42